* {
    text-align: center;
}

.ball {
    border: 1px solid black;
    border-radius: 75%;
    height: 75px;
    width: 75px;
    display: inline-block;
}

#reset-game {
    width: 150px;
    height: 30px;
}